@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 20px;
  
}
.body{
  padding-left: 20px;
}
.logo{
  width: 100px;
  height: 100px;
}
.nav-items > ul{
  display: flex;
  list-style-type: none;
  gap: 100px;
  font-size: 1.3rem;
}
.search{
  padding: 10px;
}
.res-card{
  width: 300px;
  border-radius: 10px;
  
  padding: 10px;
  cursor: pointer;
}
.res-card-inner{
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.2s, transform 0.2s;
}
.res-card-inner:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: scale(1.05);
  transition: transform 0.2s;
}
.res-logo{
  height: 230px;
  width: 280px;
  border-radius: 10px;
}
.res-card-data{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  /* justify-content: center; */
}
.shimmer-card{
  width: 300px;
  border-radius: 10px;
  height: 200px;
  
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
.filter{
  display: flex;
  gap: 10px;
}